.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  padding: 0 15%;
  background-color: #EAEAEA;
  display: grid;
  grid-template-rows: 60px 1fr auto;
  background-size: cover;
  background-attachment:scroll;

}

