.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  padding: 0 148px 0 182px;
  background-color: #EAEAEA;
  height: 100vh;
  display: grid;
  grid-template-rows: 165px 1fr auto;

}

